<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-intro"><a href="https://librarycarpentry.org/lc-overview/">Jargon Busting, A Computational Approach, Introduction to Working with Data</a></h3>
    <ul>
      <li>Intro to Library Carpentry</li>
      <li>Jargon Busting</li>
      <li>A Computational Approach</li>
      <li><a href="https://librarycarpentry.org/lc-data-intro/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-data"><a href="https://librarycarpentry.org/lc-data-intro/">Introduction to Working with Data (Regular Expressions)</a></h3>
    <ul>
      <li>Regular Expressions</li>
      <li>Matching and Extracting Strings</li>
      <li><a href="https://librarycarpentry.org/lc-data-intro/reference">Reference...</a></li>
    </ul>
  </div>
</div>
  <div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-sql">SQL</h3>
    <ul>
      <li>Introduction to SQL</li>
      <li>Selecting and Sorting Data</li>
      <li>Filtering</li>
      <li>Aggregating and calculating values</li>
      <li>Ordering and commenting</li>
      <li>Joins and aliases</li>
      <li>Saving queries</li>
      <li>Database Design</li>
      <li>Other Database Tools</li>
      <li><a href="https://librarycarpentry.github.io/lc-sql/reference">Reference...</a></li>
    </ul>
  </div>

</div>

  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-openrefine">OpenRefine</h3>
      <ul>
        <li>Introduction to OpenRefine</li>
        <li>Importing Data</li>
        <li>Basic Functions</li>
        <li>Advanced Functions</li>
        <li><a href="https://librarycarpentry.org/lc-open-refine/reference">Reference...</a></li>
      </ul>
    </div>
  </div>
</div>
  <div class="row">

  <div class="col-md-6">
    <h3 id="syllabus-git">Introduction to Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Configuring Git</li>
      <li>Recording Changes to Files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing State Changes with <code>status</code></li>
      <li>Working on the Web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Where to Host Work, and Why</li>
      <li><a href="https://librarycarpentry.org/lc-git/reference">Reference...</a></li>
    </ul>
  </div>
  
</div>
